*,
*::before,
*::after {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 12px;
}

main {
  max-width: 950px;
}

section.title-section {
  margin: 38px 0;
}

section.title-section h1 {
  margin-bottom: 38px;

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;

  color: #000000;
}

section.title-section h2 {
  margin-bottom: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-transform: uppercase;

  color: #000000;
}

section.title-section p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

section.gallery-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 38px;
}

.card {
  position: relative;
  max-width: 240px;
  width: 42%;
}

p.card-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

p.card-desc {
  position: absolute;
  top: 0;
  white-space: nowrap;
  margin-left: 14.5rem;
  transform-origin: 0 0;

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;

  color: #000000;

  transform: rotate(90deg);
}

img {
  width: 90%;
  height: auto;
}

footer p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #a9a9a9;
}

@media only screen and (max-width: 1250px) {
  .card:nth-child(even) {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  p.card-desc {
    margin-left: 9rem;
  }
}

@media only screen and (min-width: 1250px) {
  main {
    margin: 110px 243px 0 243px;
  }

  section.title-section {
    display: flex;
  }

  section.title-section h1 {
    width: 50%;
  }

  section.title-section aside {
    width: 50%;
  }

  section.title-section p {
    font-size: 18px;
    line-height: 27px;
  }

  .card {
    width: 100%;
    margin-bottom: 4rem;
  }

  .card:nth-child(3n + 2) {
    margin-top: 2rem;
  }

  p.card-desc {
    margin-left: 14.5rem;
  }

  footer {
    margin-bottom: 24px;
  }
}
